@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Welcome to Gazi University Student Management System</h1>
    <p class="lead">This is a simple application to manage students and courses at Gazi University.</p>
    <hr class="my-4">
    <p>Use the navigation bar above to manage students and courses.</p>
    <a class="btn btn-primary btn-lg" href="/Student/Index" role="button">Manage Students</a>
    <a class="btn btn-secondary btn-lg" href="/Course/Index" role="button">Manage Courses</a>
</div>
